<div class="bg-white flex justify-center items-center py-10 px-4 sm:px-6 lg:px-8">
  <p class="font-josefin text-black text-md lg:text-lg max-w-2xl text-center scroll-animate">
    ¡Ha llegado el momento de soñar! Con mucha alegría, te invito a celebrar mis XV años, un día
    lleno de magia, amor y felicidad.
  </p>
</div>
