---
import '@/styles/global.css'
import Footer from '@/components/Footer.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="relative">
      <slot />
      <Footer />
    </main>
    <script>
      const animatedElements = document.querySelectorAll('.scroll-animate');

      const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
          if (entry.isIntersecting) {
            entry.target.classList.add('is-visible');
            observer.unobserve(entry.target);
          }
        });
      }, {
        threshold: 0.1 // Trigger when 10% of the element is visible
      });

      animatedElements.forEach(element => {
        observer.observe(element);
      });
    </script>
  </body>
</html>